/* Header & Hero */
.single-hero .hero-body
  padding: 1.5rem
  code
    border-radius: 2px
    padding: 0.1rem 0.2rem 0.1rem 0.2rem

.title
  @extend .title
  @extend .is-1
  font-weight: 200
  margin-top: 1rem
  margin-bottom: 1.5rem

.subtitle
  @extend .subtitle
  color: #a3a3a3

/* Left Nav */
#TableOfContents
  ul
    @extend .menu-list
  a
    border-bottom: 1px solid $cncf-blue-1
  li ul, ul li ul
    margin: 0

/* Body */
.hashlink
  @extend .icon
  font-size: 1rem
  height: 1rem
  width: 1rem

.headline-hash
  display: none

@for $i from 1 through 6
  h#{$i}:hover > .headline-hash
    display: inline

.docs-title
  background: linear-gradient(99.62deg, $cncf-green 3.15%, $cncf-violet-6 88.41%)
  h1, h2
    color: #ffffff

.page-meta
  .breadcrumb, .github-edit
    display: inline
