
.title
  @extend .title
  @extend .is-1
  font-weight: 200
  margin-top: 1rem
  margin-bottom: 1.5rem

h1
  @extend .title
  @extend .is-2

h2
  @extend .title
  @extend .is-3

h3
  @extend .title
  @extend .is-4

#navsection .menu-label
  padding-left: 0.5em

#TableOfContents ul
  @extend .menu-list

.has-bottomborder
  border-bottom: 1px solid #ebebeb

.hashlink
  font-size: 1rem

.subtitle
  @extend .subtitle
  font-color: #a3a3a3
