// This guarantees that the footer stays stuck to the bottom of the page
.is-page
  display: flex
  flex-direction: column
  min-height: 100vh

  .is-main
    flex: 1
    @extend .has-bottommargin

.has-bottomborder
  border-bottom: 1px solid #ebebeb

.has-bottommargin
  margin-bottom: 3rem
