{{ define "main" }}


{{ $allSections  := site.Sections }} <!-- "blog" and "docs" -->
{{ $docsSections := where $allSections "Section" "docs" }} <!-- "getting-started" and "deployment" -->
{{ $thisUrl      := .RelPermalink }} <!-- the URL of the current page -->

<header class="single-hero hero has-bottom-margin-sm docs-title">
  <div class="hero-body">
    {{ partial "single-header.html" . }}
  </div>
</header>

<div class="container">
  <div class="columns is-multiline">
  {{ range $docsSections }}
  {{ $isThisPage := eq .RelPermalink $thisUrl }}
        <div class="column is-one-quarter">
          <div class="card">
          <h3><a{{ if $isThisPage }} class="is-active"{{ end }} href="{{ .RelPermalink }}">{{ .CurrentSection.Title | markdownify }}</a></h3>
        {{ range .RegularPages }}
        <ul>
          <li>
          <a{{ if $isThisPage }} class="is-active"{{ end }} href="{{ .RelPermalink }}">
            {{ .Title | markdownify }}
          </a>
          </li>
        </ul>
        {{ end }}
        </div>
      </div>

      {{ range .Sections }}
        <div class="column is-one-quarter">
          <div class="card">
            <h3><a{{ if $isThisPage }} class="is-active"{{ end }} href="{{ .RelPermalink }}">{{ .CurrentSection.Title | markdownify }}</a></h3>
          <ul>
            {{ range .CurrentSection.RegularPages }}
            <li>
                <a{{ if $isThisPage }} class="is-active"{{ end }} href="{{ .RelPermalink }}">{{ .Page.Title | markdownify }}</a>
            </li>
            {{ end }}
          </ul>
          </div>
        </div>
      {{ end }}
  {{ end }}
  </div>
</div>

{{ end }}
