{{ $allSections  := site.Sections }} <!-- "blog" and "docs" -->
{{ $docsSections := where $allSections "Section" "docs" }} <!-- "getting-started" and "deployment" -->
{{ $thisUrl      := .RelPermalink }} <!-- the URL of the current page -->

<h2>Docs</h2>

{{ range $docsSections }}
{{ $isThisPage := eq .RelPermalink $thisUrl }}
  <ul>
    <li>
        <a{{ if $isThisPage }} class="is-active"{{ end }} href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ range .RegularPages }}
      <ul>
        <li>
        <a{{ if $isThisPage }} class="is-active"{{ end }} href="{{ .RelPermalink }}"> <!-- /docs/getting-started and /docs/deployment -->
          {{ .Title }}                 <!-- this title is the section title, e.g. "Getting started" -->
        </a>
        </li>
      </ul>
      {{ end }}
    </li>

    {{ range .Sections }}
      <li>
          <a{{ if $isThisPage }} class="is-active"{{ end }} href="{{ .RelPermalink }}">{{ .CurrentSection.Title }}</a>
        <ul>
          {{ range .CurrentSection.RegularPages }}
          <li>
              <a{{ if $isThisPage }} class="is-active"{{ end }} href="{{ .RelPermalink }}">{{ .Page.Title }}</a>
          </li>
          {{ end }}
        </ul>
      </li>
    {{ end }}
  </ul>
{{ end }}
