{{ define "main" }}
  <header class="single-hero hero has-bottom-margin-sm docs-title">
    <div class="hero-body">
      <div class="container">
        <section class="columns">
          <section class="column is-two-thirds">
            <div class="page-meta">
                {{ partial "breadcrumb.html" . }}
                {{ partial "github-edit.html" . }}
            </div>
          <h1 class="title">{{ .Title }}</h1>
          <h2 class="subtitle">{{ .Description | markdownify }}</h2>
        </section>
      </section>
      </div>
    </div>
  </header>
  <div class="container">
      {{ partial "navbar.html" . }}
      <section class="columns">
        <section class="column is-two-thirds">
          {{ partial "docs/content.html" . }}
        </section>
        <section class="column is-one-fifth navsection">
          {{ partial "docs/docs-nav.html" . }}
        </section>
      </section>
    </div>
{{ end }}
