{{ $lang := site.LanguageCode }}

<!DOCTYPE html>
<html{{ with $lang }} lang="{{ . }}"{{ end }}>
  <head>
    <title class="title is-1">
      {{ block "title" . }}
        {{ site.Title }}
      {{ end }}
    </title>
    {{ partial "css.html" . }}
    {{ partial "favicon.html" . }}
  </head>
  <body class="is-page has-navbar-fixed-top">

    <main class="is-main">

      <header class="single-hero hero is-info is-bold has-bottom-margin">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">{{ .Title }}</h1>
            <p class="subtitle">{{ .Description | markdownify }}</p>
            </div>
        </div>
      </header>

      <div class="container">
        {{ partial "navbar.html" . }}
        <section class="columns">
          <section class="column">
            {{ partial "docs/content.html" . }}
          </section>

          <section class="column is-one-fifth">
            {{ partial "docs/docs-nav.html" . }}
          </section>


        </section>
      </main>
    </div>
    {{ partial "footer.html" . }}
    {{ partial "javascript.html" }}
  </body>
</html>
