<div class="github-edit is-pulled-right">
    {{ $repoUrl := .Site.Params.repositoryUrl }}
    {{ $filePath := .File.Path }}
    {{ $editUrl := print $repoUrl "/content/" $filePath }}
    <button class="button is-small"><a href="{{ $editUrl }}" target="_blank">
      <i class="fas fa-pen"></i> &nbsp; Edit on GitHub
    </a></button>
  <!-- <p>
    {{ $hashUrl := print $repoUrl "/commit/" .GitInfo.Hash }}
  <a href="{{ $hashUrl }}" class="lastupdated">Last Updated: {{ .GitInfo.AuthorDate.Format "2006-01-02" }}</a>
  </p> -->
</div>
